.App{
  font-family: 'Star Jedi', sans-serif;
  font-weight: 800 !important;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f8f8;
}

.backgroundPicture{
  background: url('./images/millenium-falcon.jpg');
  background-size: cover; 
  opacity: 0.7;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@font-face {
  font-family: 'Star Jedi';
  src: url('./fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
}

